<%- include('./partials/head.ejs'); %>

<body>
    <div class="home">
        <h1><%=locals.titulo || "Converting Local files to Web text" %></h1>
        <p class="opt"><%- include('./partials/form.ejs'); %></p>
    </div>

<script src="/script/script.js"></script>
</body>
</html>