<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Título do arquivo</h1>

    <% for(let linha = 0; linha < arquivo.length; linha++){ %>
    <p><%= locals.arquivo[linha] %></p>
    <% }%>

</body>
</html>